@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Secret";
}

<h1>@ViewData["Title"]</h1>


@{
    if (this.IfClaim(claimName: "Products", claimValue: "Read"))
    {
        <p>You will only see this if you have permission to read</p>
    }

    if (this.IfClaim(claimName: "Products", claimValue: "Add"))
    {
        <p>You will only see this if you have permission to add</p>
    }

    if (this.IfClaim(claimName: "Products", claimValue: "Edit"))
    {
        <p>You will only see this if you have permission to edit</p>
    }

    if (this.IfClaim(claimName: "Products", claimValue: "Delete"))
    {
        <p>You will only see this if you have permission to delete</p>
    }
}

<div>
    @Html.ActionLink("Products - Read", "Secret").IfClaimShow(this.Context, "Products", "Read")
</div>

<div>
    @Html.ActionLink("Products - Add", "Secret").IfClaimShow(Context, "Products", "Add")
</div>

<div>
    @Html.ActionLink("Products - Edit", "Secret").IfClaimShow(Context, "Products", "Edit")
</div>

<div>
    @Html.ActionLink("Products - Delete", "Secret").IfClaimShow(Context, "Products", "Delete")
</div>

<div>
    <br />
    <a href="#" class="btn btn-primary" @Html.Raw(this.IfClaimShow("Products", "Read"))>Read</a>
    <a href="#" class="btn btn-primary" @Html.Raw(this.IfClaimShow("Products", "Add"))>Add</a>
    <a href="#" class="btn btn-primary" @Html.Raw(this.IfClaimShow("Products", "Edit"))>Edit</a>
    <a href="#" class="btn btn-danger" @Html.Raw(this.IfClaimShow("Products", "Delete"))>Delete</a>
</div>