@using DevIO.App.Extensions
@model DevIO.App.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Read only information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class="col-sm-10">
            @this.FormatsDocument(Model.SupplierType, Model.Document)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a
       supress-by-claim-name="Supplier"
       supress-by-claim-value="Edit"
       class="btn btn-dark"
       asp-action="Edit"
       asp-route-id="@Model.Id"
    >Edit</a>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>


<partial name="_AddressDetails" />