@using DevIO.App.Extensions
@model IEnumerable<DevIO.App.ViewModels.SupplierViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Supplier List";
}

<h1>@ViewData["Title"]</h1>

<p supress-by-claim-name="Supplier" supress-by-claim-value="Add">
    <a class="btn btn-info" asp-action="Create">New Supplier</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @this.FormatsDocument(item.SupplierType, item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <span class="fa fa-search"></span>
                </a>
                <a
                   class="btn btn-warning"
                   supress-by-claim-name="Supplier"
                   supress-by-claim-value="Edit"
                   asp-action="Edit"
                   asp-route-id="@item.Id"
                >
                    <span class="fa fa-pencil-alt"></span>
                </a>
                <a
                   class="btn btn-danger"
                   supress-by-claim-name="Supplier"
                   supress-by-claim-value="Delete"
                   asp-action="Delete"
                   asp-route-id="@item.Id"
                >
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
