@model DevIO.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Product Detail - " + Model.Name;
}

<h4 style="padding-top: 30px;">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <img
             src="~/product-images/@Model.Image"
             alt="@Model.Image"
             style="width: 300px; height: 428px;"
        />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SupplierId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Supplier.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Model.Price.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>
        <div>
            <a
               disable-by-claim-name="Product"
               disable-by-claim-value="Edit"
               class="btn btn-primary"
               asp-action="Edit"
               asp-route-id="@Model.Id"
            >Edit</a>
            <a class="btn btn-info" href="javascript:window.history.back();">Back to List</a>
        </div>
    </div>
</div>
